@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100:300:400&display=swap');


/*Fonts*/
h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8;
    color: #000000;
}

h1 {
   font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.8;
    color: #000000;

}

h2 {
  font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.8;
    color: #000000;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: #000000;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
}

li {
  font-size: 20px;
}

/*Links*/
a {
    color: #0065bd;
}

a:hover {
    color: #00437e;
    text-decoration: underline;
    background-color: #d9effc;
}

a:focus {
  background-color: #fdd522;
  border-color: #333333;
  color: black;
}

/*Navbar*/
ul.nav a:hover { background-color: #77a9d1 !important;
                color: white !important;
}

ul.nav a:focus {background-color: #77a9d1 !important;
                color: white !important;

}


/*Landing page buttons*/
.button{
    background-color: #84a8d4 !important;
    border-color: #84a8d4 !important;
    color: white !important;
}
.button:hover {
  background-color: #2C3E50 !important;
  border-color: #2C3E50 !important;
  color: white !important;
}

.button:focus {
  background-color: #fdd522 !important;
  border-color: #333333 !important;
  color: black !important;
}

/*Main button*/
.main-button {
  background-color: #84a8d4;
  border-color: #84a8d4;
  color: white;
}

.main-button:focus {
  background-color: #fdd522;
  border-color: #333333;
  color: #333333;
}

.main-button:hover {
    background-color: #2C3E50;
  border-color: #2C3E50;
  color: white;
}
/*Exit buttons*/
.close-button {
  background-color: white;
  border-color: #2C3E50;
  color: black;
}

.close-button:focus {
  background-color: #fdd522;
  border-color: #333333;
  color: #333333;
}

.close-button:hover {
    background-color: #84a8d4;
  border-color: #2C3E50;
  color: white;
}

/*Modal close button, and generic shiny button*/
.btn {
  background-color: white;
  border-color: #2C3E50;
  color: black;
}

.btn:focus {
  background-color: #fdd522;
  border-color: #333333;
  color: #333333;
}

.btn:hover {
    background-color: #84a8d4;
  border-color: #2C3E50;
  color: white;
}

